@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body, html, body > div {
  height: 100%;
  margin: 0;
  font-family: 'Press Start 2P';
  line-height: 1.3rem;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #000;
  color: #ecf0f1;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 10px 0;
}
